.recentf
.smex-items
ac-comphist.dat
elpa/
ido.last
places
projectile-bookmarks.eld
backups/
abbrev_defs
auto-save-list/
network-security.data
ac-html-csswatcher/
semanticdb/
request/
projectile.cache
/cider-history
/elpy/*
/packages/log4j-mode.el
